.callout.callout.callout.callout[data-callout-metadata~="highlight"] {
    background-color: #7986cd3d;
    border-color: #e4a246;
    color: #ffffff;
    font-size: 1.65rem;
    margin-bottom: 10px;
}
